@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding:0 ;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

.container {
    background: #0A0A0D;
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    scrollbar-width: none;
}

.container.light {
  background: whitesmoke;
}

.icons i {
  position: absolute;
  top: 30px;right:20px;
  height: 30px;
  width: 30px;
  background: #24292D;
  color: #FFF;
  text-align: center;
  line-height: 30px;
  border-radius: 6px; 
  font-size: 17px;
  cursor: pointer;
  z-index: 1;
}
.container.light .icons i, .logo-div.light .icons i {
  background: whitesmoke;
  color:#0A0A0D;
}

.container .icons i.bxs-moon,
.logo-div .icons i.bxs-moon {
  opacity: 0;
  pointer-events: none;
}

.container.light .icons i.bxs-moon, 
.logo-div.light .icons i.bxs-moon {
  opacity: 1; 
  pointer-events: auto ;
  font-size: 20px;
}




/* LOGIN FORM AND SIGNUP FORM */

form h4 {
  font-weight: 300;
  font-size: 50px;
  text-align: center;
  padding: 0 0 50px 0;
  color: #D8D8DB;
  user-select: none;
}

.container.light form h4 {
  color: #0A0A0D;
}

form {
  width: 98%;
  height: 99vh;
  background: #1E1E24;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container.light form {
  background: #FFF;
  box-shadow:  20px 20px 60px #d9d9d9,
             -20px -20px 60px #ffffff;
}

form input {
  width: 400px;
  height: 40px;
  margin-top: 10px;
  border: 2px solid #5B5B63;
  border-radius: 12px;
  padding-left: 10px;
  outline: none;
  background: none;
  caret-color: #FFFFFF;
  color: #D8D8DB;
}

.container.light form input {
  caret-color: #000;
  color: #0A0A0D;
}
form input:hover {
  border: 2px #D8D8DB solid;
}

form input:focus {
  border: 2px #D8D8DB solid;
}

form input::placeholder {
  color: #FFF;
}

.container.light form input::placeholder {
  color: #0A0A0D;
}



form .remember-forgot {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  padding: 5px;
  margin-bottom: 30px;
}

form .remember-forgot a {
  margin-top: 10px;
  color: #3B82f6;
}

form .remember-forgot a:hover {
  color: #3F66F9;
}
form .remember-me {
  position: relative;
  display: flex;
  align-items: center;
  height: 10px;
}
form .remember-me label {
  position: absolute;
  width: 150px;
  gap: 5px;
  color: #D8D8DB;
  left: 20px;
  top: -1px;
}

.container.light form .remember-me label {
  color: #0A0A0D;
}

form .remember-me input {
  width: 15px;
  cursor: pointer;
  vertical-align: bottom;
  position: absolute;

}

form .login-btn {
  width: 150px;
  outline: none;
  border: none;
  border-radius: 12px;
  margin:20px 0;
  height: 45px;
  font-size: 17px;
  cursor: pointer;
  color: #FFFF;
  background: #3B82f6 ;
}

.login-btn:hover {
  background: #3F66F9 ;
}

.login-btn:active {
  border: 2px solid #D8D8DB;
  
}

form .dont-have-account {
  color: #D8D8DB;
  background: none;
  outline: none;
  border: none;
}

.container.light form .dont-have-account {
  color:#0A0A0D;
}

.dont-have-account span {
  cursor: pointer;
  color: #3B82f6;
}

.dont-have-account span:hover {
  color:#3F66F9;
}

/* DASHBOARD PAGE */

.logo-div {
  color:#D8D8DB;
  background: #1E1E24;
  height: 100px;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.menu-btn {
  display: none;
}

.logo-div.light {
  color:#000;
  background: #FFF;
}

/* Layout */
.dashboard-container {
  display: flex;
  height: 100vh;
  width: 100%;
  scrollbar-width: none;
  position: relative;
}

/* Sidebar */
.sidebar {
  width: 220px;
  background: #1E1E24;
  border-right: 1px solid #24292D;
  padding: 20px;
}

.container.light .sidebar {
  background: #FFFFFF;
  border-right: 1px solid #FFF;
}

.profile {
  text-align: center;
  margin-bottom: 40px;
}

.profile img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.profile h2 {
  font-size: 18px;
  color:#D8D8DB;
}

.container.light .profile h2 {
  color:#000;
}

.navigation {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.nav-item {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  text-align: left;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  color:#D8D8DB;
  transition: .3s ease-in-out;
}
.container.light  .nav-item {
  color:#0A0A0D;
}

.nav-item i {
  font-size: 25px;
  margin-right: 10px;
}

.nav-item.active,
.nav-item:hover {
  background-color: #24292D;
  color:#D8D8DB;
  border-radius: 8px;
  scale: 1.1;
}

.container.light
.nav-item.active,
.container.light .nav-item:hover {
  background-color: #D8D8DB;
  color:#000;
  border-radius: 8px;
}

/* Main Content */
.main-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
  padding: 30px;
  overflow-y: auto;
  scrollbar-width: none;
}

/* Summary Cards */
.summary-cards {
  display: flex;
  gap: 20px;
  
}

.card {
  flex: 1;
  padding: 20px;
  background: #1E1E24;
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 15px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.04);
}

.container.light .card {
  background: #FFF;
}

.card .icon {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color:#D8D8DB;
}


.icon.purple {
  background: #7c3aed;
}

.icon.orange {
  background: #f97316;
}

.icon.red {
  background: #ef4444;
}

.info {
  color: #D8D8DB;
}

.container.light .info {
  color: #000;
}

/* Bottom Section */
.bottom-section  {
  display: flex;
  gap: 20px;
}

.third-section  {
  
  display: flex;
  gap: 20px;
}


/* Transactions */
.transactions {
  width: 50%;
  height: 70vh;
  background: #1E1E24;
  border-radius: 12px;
  padding: 20px;
}

.container.light .transactions {
  background: #FFF;
}

.transactions .header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  color: #D8D8DB;
}

.container.light .transactions .header {
  color: #000;
}

.see-all {
  background: none;
  border: none;
  color: #7c3aed;
  font-weight: bold;
  cursor: pointer;
}

.transaction-list {
  list-style: none;
}

.transaction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
  border-bottom: 1px solid #eee;
}
.container.light .transaction {
  border-bottom: 1px solid #000;
}

.transaction .details {
  flex: 1;
  margin-left: 10px;
  
}

.transaction .details p {
  font-weight: bold;
  color:#D8D8DB;
}

.container.light .transaction .details p {
  color: #000;
}


.transaction .details span {
  font-size: 12px;
  color: #888;
}

.amount {
  font-weight: bold;
}

.amount.negative {
  color: #ef4444;
}

.amount.positive {
  color: #10b981;
}

/* Financial Overview */
.financial-overview, .last-thirty {
  width: 49%;
  background: #1E1E24;
  border-radius: 12px;
  padding: 20px;
  color:#D8D8DB;
}

.container.light .financial-overview {
  background: #FFF;
  color: #000;
}

.container.light .last-thirty {
  background: #FFF;
  color: #000;
}

.chart {
  height: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.legend {
  display: flex;
  justify-content: space-around;
  font-size: 14px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.dot.purple {
  background: #7c3aed;
}

.dot.red {
  background: #ef4444;
}

.dot.orange {
  background: #f97316;
}

.expenses {
  width: 50%;
  background: #1E1E24;
  border-radius: 12px;
  padding: 20px;
}

.container.light .expenses{
  background: #FFF;
  color: #000;
}









/* ============ Tablet Devices ============ */
@media screen and (max-width: 1340px) {

  .bottom-section, .third-section {
    flex-direction: column;
  }

  .summary-cards {
    flex-direction: column;
  }

  .summary-cards .card {
    padding: 60px;
  }

  .transactions, .expenses, .last-thirty, .financial-overview {
    width: 100%;
    height: 600px
  }
  
}

@media screen and (max-width: 1000px) {
  
  .menu-btn {
    display: flex;
    font-size :40px;
    padding-right: 10px;
  }
  .sidebar {
    display: none;
  }

  .sidebar.view {
    display: block;
    position: absolute;
    width: 300px;
    height: 100vh;
  }
}

/* ============ Mobile Devices ============ */
@media screen and (max-width: 600px) {
  form {
    width: 100%;
    height: 100vh;
  }
  form input {
    width: 300px
  }
  form .remember-forgot {
    width: 300px
  }

  .side {
    width: 70px;
  }
  .side .profile {
    display: none;
  }

  .side .income,.expense,.logout {
    margin-top: 40px;
    padding-left: 10px;
  }

  .side .income h5,.expense h5,.logout h5 {
    display: none;
  }
}

/* TABLES */


